
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-opera:before { content: '\e842'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */